{% extends 'plantilla.html' %}
{% load static %}

{% block extrahead %} 
<link rel="stylesheet" href="{% static '/css/clases.css' %}">
<title>GSO Clases</title>
{% endblock extrahead %}

{% block content %}

<div class="contenedor-espacio">
  <div class="espacio-grande"></div>
  <div class="espacio-peque"></div>
</div>


<div class="alinear-centro">
  <div class="glutter glutter-clases">
    <h1 class="h1-important">Clases</h1>
  </div>
  <div class="parrafo parrafo-clases">
    <div class="espacio-entre"></div>
    <p class="parrafo-entre parrafo-width">
        Demuestra tu valor usando las diferentes armas que el mundo ofrece,
        cada arma representa el tipo de clase al que perteneces.
    </p>
  </div>
</div>

<div class="contenedor-espacio">
  <div class="espacio-huge"></div>
</div>

<div class="espacio-entre"></div>

<div class="contenedor-cards">
  <a href="#" class="card-link">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4 align-items-stretch">
          <img src="{% static '/multimedia/kirito.jpg' %}" class="img-fluid rounded-start h-100" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Double Sword</h5>
            <p class="card-text">El espadachin doble y no se que mas
               decir luego se me ocurrira algo por ahora pondre
               que el melcochon es muy consentido deliciosos perfeco
              </p>
            <p class="card-text"><small class="text-body-secondary">Daño,Fuerza</small></p>
          </div>
        </div>
      </div>
    </div>
  </a>
  <a href="#" class="card-link">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4 align-items-stretch">
          <img src="{% static '/multimedia/bell.jpg' %}" class="img-fluid rounded-start h-100" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Dagger</h5>
            <p class="card-text">El daggero doble y no se que mas
              decir luego se me ocurrira algo por ahora pondre
              que el melcochon es muy consentido deliciosos perfeco
              ouyea mamasitaa
            </p>
            <p class="card-text"><small class="text-body-secondary">Daño,Agilidad</small></p>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
<div class="contenedor-cards">
    <a href="#" class="card-link">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4 align-items-stretch">
            <img src="{% static '/multimedia/kirito.jpg' %}" class="img-fluid rounded-start h-100" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Double Sword</h5>
              <p class="card-text">El espadachin doble y no se que mas
                 decir luego se me ocurrira algo por ahora pondre
                 que el melcochon es muy consentido deliciosos perfeco
                </p>
              <p class="card-text"><small class="text-body-secondary">Daño,Fuerza</small></p>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a href="#" class="card-link">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4 align-items-stretch">
            <img src="{% static '/multimedia/bell.jpg' %}" class="img-fluid rounded-start h-100" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Dagger</h5>
              <p class="card-text">El daggero doble y no se que mas
                decir luego se me ocurrira algo por ahora pondre
                que el melcochon es muy consentido deliciosos perfeco
                ouyea mamasitaa
              </p>
              <p class="card-text"><small class="text-body-secondary">Daño,Agilidad</small></p>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="contenedor-cards">
    <a href="#" class="card-link">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4 align-items-stretch">
            <img src="{% static '/multimedia/kirito.jpg' %}" class="img-fluid rounded-start h-100" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Double Sword</h5>
              <p class="card-text">El espadachin doble y no se que mas
                 decir luego se me ocurrira algo por ahora pondre
                 que el melcochon es muy consentido deliciosos perfeco
                </p>
              <p class="card-text"><small class="text-body-secondary">Daño,Fuerza</small></p>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a href="#" class="card-link">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4 align-items-stretch">
            <img src="{% static '/multimedia/bell.jpg' %}" class="img-fluid rounded-start h-100" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Dagger</h5>
              <p class="card-text">El daggero doble y no se que mas
                decir luego se me ocurrira algo por ahora pondre
                que el melcochon es muy consentido deliciosos perfeco
                ouyea mamasitaa
              </p>
              <p class="card-text"><small class="text-body-secondary">Daño,Agilidad</small></p>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>

{% endblock content%}