{% extends 'plantilla.html' %}
{% load static %}

{% block extrahead %} 
<title>Galaxy Sword Online</title>
{% endblock extrahead %}

{% block content %}


<!--
 ESPACIO PARA QUE EL CONTENIDO NO SE GOLPEE
 CON EL NAV BAR.
-->

<div class="contenedor-espacio">
  <div class="espacio-grande"></div>
  <div class="espacio-peque"></div>
</div>

<!--
   MANDAMOS EL PRIMER PARRAFO
   CON UN MARGEN DE 20PX A LA IZQUIERDA
   DE LA LINEA 23 A LA 58 ES 
   LO PRIMERO QUE SE VE EN LA PAGINA
-->

<div class="alinear-izquierda">
  <div class="glutter">
    <h1 class="h1-important">SÉ UN VERDADERO ESPADACHIN</h1>
  </div>
  <div class="parrafo">
    <div class="espacio-entre"></div>
    <p class="parrafo-entre">
      Explora una nueva realidad en el mundo de Galaxy Sword
      conoce tu verdadero talento efrentandote a los nuevos retos
      que la realidad virtual impone en tu camino. Vence enemigos,
      aliados, todo lo que se te de la gana no se que mas poner,
      pero no se ve bbonito no pongo mucho texto.
    </p>
    <div class="espacio-entre"></div>
    <a class="link" href="#">
      <span class="link-subrayado">Explorar Galaxy Sword</span>
    </a>
    <div class="espacio-entre-largo"></div>
    <div class="botones-parrafo">
      <a class="btn1" href="#">
        <div class="btn1-outer">
          <div class="btn1-inner">
            <div class="btn1-label" data-text="Comprar Galaxy Sword">Comprar Galaxy Sword</div>
          </div>
        </div>
      </a>
      <a class="btn2" href="#">
        <div class="btn2-outer">
          <div class="btn2-inner">
            <div class="btn2-label" data-text="Comprar Galaxy Sword">Más información</div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>


<!--
  SECCION PARA NOTICIAS
-->

<div class="contenedor-espacio">
  <div class="espacio-huge"></div>
</div>

<div class="contenedor-noticias">
  <div class="ultimas-noticias">
    Últimas noticias y actualizaciones
  </div>
  <div class="ver-noticias">
    <a class="a-noticias" href="#">Ver todas las noticias</a>
  </div>
</div>

<div class="espacio-entre"></div>

<!--
    BLOQUES DE NOTICIAS
-->

<div class="contenedor-actualizaciones">
  <div class="primer-cuadro-semanal cuadro-hover">
    <div class="espacio-actualizaciones"></div>
    <div class="info-semana">
      <div class="fecha">1 de mayo de 2023</div>
      <h3 class="info-fecha">Esta semana en nanana: 1 de mayo</h3>
    </div>
  </div>

  <div class="segundo-cuadro-semanal cuadro-hover">
    <div class="espacio-actualizaciones"></div>
    <div class="info-semana">
      <div class="fecha">1 de mayo de 2023</div>
      <h3 class="info-fecha">Esta semana en nanana: 1 de mayo</h3>
    </div>
  </div>

  <div class="tercer-cuadro-semanal cuadro-hover">
    <div class="espacio-actualizaciones"></div>
    <div class="info-semana">
      <div class="fecha">1 de mayo de 2023</div>
      <h3 class="info-fecha">Esta semana en nanana: 1 de mayo</h3>
    </div>
  </div>

  <div class="cuarto-cuadro-semanal cuadro-hover">
    <div class="espacio-actualizaciones"></div>
    <div class="info-semana">
      <div class="fecha">1 de mayo de 2023</div>
      <h3 class="info-fecha">Esta semana en nanana: 1 de mayo</h3>
    </div>
  </div>
</div>
<div class="espacio-entre-grande"></div>


<!--
   EMPIEZAN LOS CUADROS LLAMATIVOS, PARA ANUNCIAR EVENTOS
   O PARA ENUNCIAR ALGUNA NOVEDAD DE EXPANCIONES
   QUE ESTA OCURRIENDO EN LA ACTUALIDAD
   O QUE VIENE EN UN FUTURO
-->


<div class="contenedor-big-info">
  <a href="#" class="contenedor-big-a borde-gris">
    <div class="espace-huge"></div>
    <div class="big-info-centrar-texto">
        <div class="espacio-entre"></div>
        <h2 class="big-info-texto">Refuerza Tus Lazos</h2>
        <div class="espacio-entre"></div>
        <h1 class="titulo-big-info">Lucha por todos tus aliados</h1>
        <div class="espacio-entre"></div>
        <p class="parrafo-big-info">No dejes que la derrota se lleve a los guerreros que
          combaten a tu lado.
        </p>
    </div>
  </a>
  <a href="#" class="contenedor-big-a-right borde-gris">
    <div class="espace-huge "></div>
    <div class="big-info-centrar-texto">
        <div class="espacio-entre"></div>
        <h2 class="big-info-texto">Nuevos jugadores</h2>
        <div class="espacio-entre"></div>
        <h1 class="titulo-big-info">Empieza tú aventura</h1>
        <div class="espacio-entre"></div>
        <p class="parrafo-big-info">Enseñanos todo tu potencial en la dura batalla</p>
    </div>
  </a>
</div>

<div class="espaciesito"></div>

<!--
    SEGUNDO PAR DE CUADROS GRANDES LLAMATIVOS
-->


<div id="contenedor-big-info-responsive">
  <div id="contenedor-big-a-responsive" >
    <div class="espace-huge"></div>
    <div id="big-info-centrar-texto-responsive">
        <div class="espacio-entre"></div>
        <h2 class="big-info-texto">Galaxy Sword Online</h2>
        <div class="espacio-entre"></div>
        <h1 id="titulo-big-info-responsive">Evento del principe Sol</h1>
        <div class="espacio-entre"></div>
        <p class="parrafo-big-info">
          Galaxy Sword Online® Classic™ ya 
          Galaxy Sword Online® Lorem ipsum dolor sit
          amet consectetur, adipisicing elit. Quod temporibus nihil
          ea veniam numquam suscipit neque tempore amet. Architecto 
          nihil delectus rerum numquam minus rem mollitia
          veniam eaque veritatis fugit.
        </p>
        <div class="espacio-entre"></div>
        <div class="botones-parrafo-right">

          <a class="btn2" href="#">
            <div class="btn2-outer">
              <div class="btn2-inner">
                <div class="btn2-label-card" data-text="Comprar Galaxy Sword">Más información</div>
              </div>
            </div>
          </a>
        </div>
    </div>
  </div>
  <div  id="contenedor-big-a-right-responsive">
    <div class="espace-huge "></div>
    <div id="big-info-centrar-texto-responsive" >
        <div class="espacio-entre"></div>
        <h2 class="big-info-texto">Galaxy Sword Online®</h2>
        <div class="espacio-entre"></div>
        <h1 id="titulo-big-info-responsive">Galaxy Sword Online®</h1>
        <div class="espacio-entre"></div>
        <p class="parrafo-big-info"> Galaxy Sword Online® Classic™ ya 
          Galaxy Sword Online® Lorem ipsum dolor sit
          amet consectetur, adipisicing elit. Quod temporibus nihil
          ea veniam numquam suscipit neque tempore amet. Architecto 
          nihil delectus rerum numquam minus rem mollitia
          veniam eaque veritatis fugit.</p>
          <div class="espacio-entre"></div>
          <div class="botones-parrafo-cards">
            <a class="btn1" href="#">
              <div class="btn1-outer">
                <div class="btn1-inner">
                  <div class="btn1-label-card" data-text="Comprar Galaxy Sword">Inicia la aventura</div>
                </div>
              </div>
            </a>
            <a class="btn2" href="#">
              <div class="btn2-outer">
                <div class="btn2-inner">
                  <div class="btn2-label-card" data-text="Comprar Galaxy Sword">Más información</div>
                </div>
              </div>
            </a>
          </div>
    </div>
  </div>
</div>

<!--
TERCER PAR DE CUADROS
-->

<div class="espaciesito"></div>

<div class="contenedor-invitacion-right">
  <div class="espaciesito"></div>
  <div class="contenedor-texto-invitacion-right">
  <div class="glutter">
    <h1 class="h1-info">Evento del principe Sol</h1>
  </div>
  <div class="parrafo-cards-right">
    <div class="espacio-entre"></div>
    <p class="parrafo-entre-cards-sol">
      Galaxy Sword Online® Classic™ ya 
      Galaxy Sword Online® Lorem ipsum dolor sit
      amet consectetur, adipisicing elit. Quod temporibus nihil
      ea veniam numquam suscipit neque tempore amet. Architecto 
      nihil delectus rerum numquam minus rem mollitia
      veniam eaque veritatis fugit.
    </p>
    <div class="espacio-entre"></div>
    <div class="espacio-entre-largo"></div>
    <div class="botones-parrafo-right">

      <a class="btn2" href="#">
        <div class="btn2-outer">
          <div class="btn2-inner">
            <div class="btn2-label-card" data-text="Comprar Galaxy Sword">Más información</div>
          </div>
        </div>
      </a>
    </div>
  </div>
  </div>
</div>

<!--
 SI, ERA MAS FACIL PONER 3 ESPACIECITOS DE 1PX
 QUE CREAR UNO NUEVO DE 5PX
 ESTO ES PARA DAR LA SENSACION
 DE UN PEQUEÑO SEPARAMIENTO ENTRE LOS CUADROS
 DE ANUNCIO
-->

<div class="espaciesito"></div>
<div class="espaciesito"></div>
<div class="espaciesito"></div>

<div class="contenedor-invitacion">
  <div class="espaciesito"></div>
  <div class="contenedor-texto-invitacion">
  <div class="glutter">
    <h1 class="h1-info">Galaxy Sword Online® </h1>
  </div>
  <div class="parrafo-cards">
    <div class="espacio-entre"></div>
    <p class="parrafo-entre-cards">
      Galaxy Sword Online® Lorem ipsum dolor sit
      amet consectetur, adipisicing elit. Quod temporibus nihil
      ea veniam numquam suscipit neque tempore amet. Architecto 
      nihil delectus rerum numquam minus rem mollitia
      veniam eaque veritatis fugit.
    </p>
    <div class="espacio-entre"></div>
    <div class="espacio-entre-largo"></div>
    <div class="botones-parrafo">
      <a class="btn1" href="#">
        <div class="btn1-outer">
          <div class="btn1-inner">
            <div class="btn1-label-card" data-text="Comprar Galaxy Sword">Inicia la aventura</div>
          </div>
        </div>
      </a>
      <a class="btn2" href="#">
        <div class="btn2-outer">
          <div class="btn2-inner">
            <div class="btn2-label-card" data-text="Comprar Galaxy Sword">Más información</div>
          </div>
        </div>
      </a>
    </div>
  </div>
  </div>
</div>

<!--
  MISMA EXPLICACION
-->

<div class="espaciesito"></div>
<div class="espaciesito"></div>
<div class="espaciesito"></div>


<div class="contenedor-big-info">
  <a href="#" class="contenedor-big-a borde-gris contenedor-mediano">
    <div class="espace-huge espace-medium"></div>
    <div class="big-info-centrar-texto short-info-centrar-texto">
        <div class="espacio-entre"></div>
        <h2 class="big-info-texto">Refuerza Tus Lazos</h2>
        <div class="espacio-entre"></div>
        <h1 class="titulo-big-info">Lucha por todos tus aliados</h1>
    </div>
  </a>
  <a href="#" class="contenedor-big-a-right borde-gris contenedor-mediano-right">
    <div class="espace-huge espace-medium"></div>
    <div class="big-info-centrar-texto short-info-centrar-texto">
        <div class="espacio-entre"></div>
        <h2 class="big-info-texto">Nuevos jugadores</h2>
        <div class="espacio-entre"></div>
        <h1 class="titulo-big-info">Empieza tú aventura</h1>
    </div>
  </a>
</div>

<div class="espaciesito"></div>

{% endblock content%}