{% load static %} 
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{% static '/iconos/galaxy.ico.ico' %}">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet" type="text/css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
   integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/three@0.134.0/build/three.min.js"></script>
  <link rel="Stylesheet" type="text/css" href="{% static '/CSS/Stylos.css' %}">
  {% block extrahead %}
  {% endblock extrahead %}
</head>

<!--
   ESTA PARTE DEL BODY ES PARA CONFIGURAR
   MAS FACÍL LOS BACKGROUNDS DE LAS PAGINAS
   QUE VAN A HEREDAR DE ESTA, E IR APAGANDO
   O PRENDIENDO EL VIDEO, DEPENDIENDO DE LA PAGINA
   EN LA QUE ESTEMOS
-->
<body class="body">
  <div id="background"></div>
  <video autoplay muted loop id="myVideo">
    <source src="{% static '/videos/videofondo.mp4' %}" type="video/mp4">
  </video>

<!--
  COMO NO USE BOOTRAP TUBE QUE HACER DOS NAVBARS UNA RESPONSIVA
  QUE SE MANTENDRA EN NONE HASTA QUE EL WIDTH DE LA PGINA
  LLEGUE A CIERTO ANCHO
-->

  <nav id="nav-responsive">
    <div class="logo-responsive" id="logo-container">
      <a href="{% url 'index' %}">
        <img class="logo-img" src="{% static '/multimedia/ahorasinuevologo.png' %}"  alt="Logo de la página">
      </a>
    </div>
  </nav>


<!--
  AQUI EMPIZA LA NAVBAR NORMAL
-->

  <nav id="nav-normal">
    <div class="logo" id="logo-container">
      <a href="{% url 'index' %}">
        <img class="logo-img" src="{% static '/multimedia/ahorasinuevologo.png' %}"  alt="Logo de la página">
      </a>
    </div>
    <ul class="menu">

<!--
    LISTA DE OPCIONES
-->

      <li id="desaparecerInfo" class="dropdown info">
        <a class="ease-menu" href="#">Información Sobre el juego<i class="fa-solid fa-chevron-down"></i></a>
<!--
    TODAS LAS OPCIONES DESPLEGABLES EMPIEZAN
    CON LA CLASE DROPDOWN
-->
        <div class="dropdown-content-info">
          <div class="flechita"></div> <!-- ILUCION DE NAVBAR CON FLECHITA EN MENU DESPLEGABLE-->
          <div class="fondodropdown">
            <div class="hyper-espaciesito"></div>
            <a class="dropdown-item" href="{% url 'clases' %}">Clases</a>
            <a class="dropdown-item" href="#">Resumen</a>
            <a class="dropdown-item" href="#">Mundo abierto</a>
            <a class="dropdown-item" href="#">Jugabilidad</a>
            <a class="dropdown-item" href="#">Jugadores destacados</a>
            <div class="hyper-espaciesito"></div>
            <div class="transfondo-div">
              <div class="transfondo-edit">
                transfondo
              </div>
              <a class="dropdown-item black-font" href="#">Historia</a>
              <div class="hyper-espaciesito"></div>
            </div>
          </div>
        </div>
      </li>
<!--
    SEGUNDA OPCION EXPANCIONES
-->

      <li id="desaparecerExpa" class="dropdown"><a class="primer-grupo expa ease-menu" href="#">Expansiones<i class="fa-solid fa-chevron-down"></i></a>
        <div class="dropdown-content">
          <div class="flechita"></div>
          <div class="fondodropdown">
            <div class="hyper-espaciesito"></div>
            <a class="dropdown-item" href="#">Piso de los Condenados</a>
            <a class="dropdown-item" href="#">Piso de los Sobresalientes</a>
            <a class="dropdown-item" href="#">Piso del tormento</a>
            <div class="hyper-espaciesito"></div>
          </div>
        </div>
      </li>
<!--
    TERCERA OPCION NOTICIAS
-->

      <li id="desaparecerNoti"><a class="primer-grupo noticias noti" href="#">Noticias</a></li>

<!--
    CUARTA OPCION (...)
-->
      <li id="desaparecerPuntitos" class="dropdown trespuntos"><a class="desplegable ease-menu" href="#">...</a>
        <div class="dropdown-content dropdown-content-desplegable">
          <div class="flechita"></div>
          <div class="fondodropdown">
            <div class="hyper-espaciesito"></div>
            <a class="dropdown-item" href="#">Foro</a>
            <a class="dropdown-item" href="#">Preguntas Habituales</a>
            <a class="dropdown-item" href="#">PvP</a>
            <a class="dropdown-item" href="#">PvE</a>
            <a class="dropdown-item" href="">Esports</a>
            <a class="dropdown-item" href="#">GSO Tournament</a>
            <a class="dropdown-item" href="#">Masacre</a>
            <a class="dropdown-item" href="#">Contenido del juego</a>
            <a class="dropdown-item" href="#">Gear</a>
            <div class="hyper-espaciesito"></div>
          </div>
        </div>
      </li>
<!--
    OPCION PARA CUENTA. AQUI YA EMPEZAMOS 
    A DAR LOS PERMISOS PARA LOS USUARIOS LOGUEADOS
-->

      <li id="desaparecerLupita" class="lupita"><a class="buscador" href="#"><i class="fa-solid fa-magnifying-glass" style="color: #fafafa;"></i></a></li>

      {% if user.is_authenticated %}

      <li id="desaparecerCuenta" class="dropdown cuenta"><a class="ease-menu" href="#"><i id="hu" class="fa-regular fa-user"></i>{{ request.user.username }}<i class="fa-solid fa-chevron-down"id="ha"></i></a>
        <div class="dropdown-content">
          <div class="flechita"></div>
          <div class="fondodropdown">
            <div class="hyper-espaciesito"></div>
            <a href="{% url 'productosIndex' %}"><button type="button" class="btn btn-primary iniciar-secion">Item Shop</button></a>
            <div class="hyper-espaciesito"></div>
            <a class="dropdown-item" href=""><i id="icon-ajustes" class="fa-solid fa-gear" style="color: #f2fafd;"></i>Ajustes de Tú cuenta</a>
            <a class="dropdown-item" href="{% url 'personajes' %}"><i id="icon-ajustes" class="fa-solid fa-gear" style="color: #f2fafd;"></i>Personajes</a>
            <a class="dropdown-item" href="{% url 'logout' %}"><i id="icon-ajustes" class="fa-solid fa-right-from-bracket"></i>Log Out</a>
            <div class="hyper-espaciesito"></div>
          </div>
        </div>

      {% else %}

      <li id="desaparecerCuenta" class="dropdown cuenta"><a class="ease-menu" href="#"><i id="hu" class="fa-solid fa-user-slash"></i>Cuenta<i class="fa-solid fa-chevron-down"id="ha"></i></a>
        <div class="dropdown-content">
          <div class="flechita"></div>
          <div class="fondodropdown">
            <div class="hyper-espaciesito"></div>
            <a href="{% url 'login' %}"><button type="button" class="btn btn-primary iniciar-secion">INICIAR SECION</button></a>
            <div class="hyper-espaciesito"></div>
            <a class="dropdown-item" href="{% url 'login' %}"><i id="icon-ajustes" class="fa-solid fa-gear" style="color: #f2fafd;"></i>Ajustes de Tú cuenta</a>
            <a class="dropdown-item" href="{% url 'registro' %}"><i id="icon-registro" class="fa-solid fa-pen-to-square" style="color: #ededee;"></i>Registrarse</a>
            <div class="hyper-espaciesito"></div>
          </div>
        </div>

      {% endif %}
      {% for group_for in request.user.groups.all %}
      {% if group_for.name == 'operador' %}

        <div class="dropdown-content">
          <div class="flechita"></div>
          <div class="fondodropdown">
            <div class="hyper-espaciesito"></div>
            <a href="{% url 'productosIndex' %}"><button type="button" class="btn btn-primary iniciar-secion">Item Shop</button></a>
            <div class="hyper-espaciesito"></div>
            <a class="dropdown-item" href=""><i id="icon-ajustes" class="fa-solid fa-gear" style="color: #f2fafd;"></i>Ajustes de Tú cuenta</a>
            <a class="dropdown-item" href="{% url 'personajes' %}"><i id="icon-ajustes" class="fa-solid fa-gear" style="color: #f2fafd;"></i>Personajes</a>
            <a class="dropdown-item" href="{% url 'gestionProductos' %}"><i id="icon-ajustes" class="fa-solid fa-gear" style="color: #f2fafd;"></i>Gestionar Productos</a>
            <a class="dropdown-item" href="{% url 'crearProductos' %}"><i id="icon-ajustes" class="fa-solid fa-gear" style="color: #f2fafd;"></i>Crear Productos</a>
            <a class="dropdown-item" href="{% url 'logout' %}"><i id="icon-ajustes" class="fa-solid fa-right-from-bracket"></i>Log Out</a>
            <div class="hyper-espaciesito"></div>
          </div>
        </div>
        {% endif %}
      {% endfor %}    

      {% if user.is_superuser %}
      <li id="desaparecerCuenta" class="dropdown cuenta"><a class="ease-menu" href="#"><i id="hu" class="fa-regular fa-user"></i>Mi Cuenta<i class="fa-solid fa-chevron-down"id="ha"></i></a>
        <div class="dropdown-content">
          <div class="flechita"></div>
          <div class="fondodropdown">
            <div class="hyper-espaciesito"></div>
            <a href="{% url 'productosIndex' %}"><button type="button" class="btn btn-primary iniciar-secion">Item Shop</button></a>
            <div class="hyper-espaciesito"></div>
            <a class="dropdown-item" href=""><i id="icon-ajustes" class="fa-solid fa-gear" style="color: #f2fafd;"></i>Ajustes de Tú cuenta</a>
            <a class="dropdown-item" href="{% url 'admin:index' %}"><i id="icon-ajustes" class="fa-solid fa-gear" style="color: #f2fafd;"></i>Administracion</a>
            <a class="dropdown-item" href="{% url 'logout' %}"><i id="icon-ajustes" class="fa-solid fa-right-from-bracket"></i>Log Out</a>
            <div class="hyper-espaciesito"></div>
          </div>
        </div>
        {% endif %}

      <li id="desaparecerBoton1" class="op2li"><a class="op2" href="#">Probar gratis</a></li>
      <li id="desaparecerBoton2" class="op3li"><a class="op3" href="#">Suscribirse</a></li>
      
    </ul>
  </nav>
  
<!--
    EMPIEZA EL FOOTER
-->


  {% block content %}
  {% endblock content%}




  <footer id="footer">
    <div class="contenedor-social">
      <div class="social-panel">
        <div class="redes-sociales">
          Seguir a Galaxy
        </div>
        <div class="links-social">
          <a class="social-link" href="#"><i class="fa-brands fa-facebook-f" style="color: #f8b700;"></i></a>
          <a class="social-link" href="#"><i class="fa-brands fa-discord" style="color: #f8b700;"></i></a>
          <a class="social-link" href="#"><i class="fa-brands fa-instagram" style="color: #f8b700;"></i></a>
          <a class="social-link" href="#"><i class="fa-brands fa-github" style="color: #f8b700;"></i></a>
        </div>
      </div>
    </div>
    <div class="super-espaciesito"></div>
    <div class="contenedor-andrez-footer-original">
      <div class="espacio-entre"></div>
      <div class="espacio-entre"></div>
      <div class="andrez-footer-original">
        <div class="logo-footer">
          <a class="a-img" href="#"><img class="footer-img" src="{% static '/iconos/galaxy.ico.ico' %}"></a>
        </div>
        <div class="espacio-entre"></div>
        <div class="requerimientos">
          <a href="">EMPLEO</a>
          <a href="">INFORMACION</a>
          <a href="">ASISTENCIA</a>
          <a href="">CONTACTO</a>
          <a href="">PRENSA</a>
          <a href="">API</a>
        </div>
  
        <div class="espacio-entre"></div>
        <div class="espacio-entre"></div>
  
        <div class="aplicacion-juegos">
          <h6 class="aplicacion">
            Juego disponible en el nervGear:
            <a href="#">Donde comprar nervgear</a>
            </h6>
        </div>
  
        <div class="espacio-entre"></div>
        <div class="espacio-entre"></div>
  
        <div class="terminos-y-condiciones">
          <h6 class="terminos">
            ©2023 Galaxy Sword, Inc.
            Todos los derechos reservados.
            Todas las <a href="#">marcas comerciales</a> a las 
            que se hace referencia son propiedad
            mia mia y solamente mia Andrez Olivar.
          </h6>
        </div>
        <div class="link-terminos">
          <a href="#">Privacidad</a>
          <a href="#">Legal</a>
          <a href="#">Términos</a>
          <a href="#">Cookie Policity</a>
          <a href="#">Ajustes de Cookies</a>
        </div>
      </div>
    </div>
  </footer>
  {% block extrajs %}
  {% endblock extrajs%}
  <script src="https://kit.fontawesome.com/380cbd1a79.js" crossorigin="anonymous"></script>
  <script src="{% static '/Js/Scrips.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/three@0.134.0/build/three.min.js"></script>
  </body>
  </html>