* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  
  .hyper-espaciesito{
    height: 10px;
  }

.espacio30{
  height: 30px;
}

.espacio20{
  height: 20px;
}


  .parrafito {
    font-size: 16px; /* Tamaño de fuente inicial */
    text-align: center;
    width: 50%;
    margin-left: 340px;
  }
  
  @media (max-width: 768px) {
    p {
      font-size: 14px; /* Tamaño de fuente para pantallas más pequeñas */
    }
  }
  
  @media (max-width: 480px) {
    p {
      font-size: 12px; /* Tamaño de fuente para pantallas aún más pequeñas */
    }
  }

.card{
    margin-top: 5px;
    width: 18rem;
    margin-left: 50px;
}


.imagen_tarjeta{
    height: 300px;
}

.estado_label{
    width: 30%;
    align-self: center;
}

.espacio{
    height: 50px;
}

.body{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../multimedia/background.jpg) no-repeat center center fixed;
    background-size: cover;
    z-index: -100;

}

#myVideo{
  display: none;
}


.form-control{
    text-align: center;
    color: white;
    width: 100%;
    /* border-radius: 20px; */
    font-size: 1.5rem;
    font-weight: bold;
    padding: 15px;
    border: 5px solid black;
    background-image: repeating-linear-gradient(180deg, #ee0404, #000000 100px);
}

.img-arma{
  width: 15%;
  border: 1px solid rgb(255, 255, 255);
  margin-right: 15px;
  height: 70px;
}

table{
  font-size: 0.9rem;
  background:  #202020;
}

table,th,td{
  color: rgba(255, 255, 255, 0.553);
}


.hover-producto{
  cursor: pointer;
  text-decoration: none;
  width: 25%;
}

.recuadro-info{
  padding: 5px;
  display: none;
  position: absolute;
  border: 2px solid black;
  margin: 0 221px;
  font-family: Verdana,"Open Sans",Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-size: 11px !important;
  text-align: justify;
  color: #ff8000;
  background-color: rgb(4 24 51 / 55%);
  border-radius: 5px;
  width: 15%;
}

.ilv{
  color: #ffd000;
}

.hover-producto:hover{
    .recuadro-info{
      display: block;
    }
}

.nombre{
  color: #ff8000 !important;
}

.uso {
  color: #00ff04e3;
}

.tblanco{
  color: aliceblue;
}