body {
    font-family: Arial, Helvetica, sans-serif;
}

.helptext{
    display: flex;
}

ul{
    display: none;
}

ul li{
    font-size: 16px;
    color: #ffffff;
}


.register{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../multimedia/galaxyRegistro.jpg) no-repeat center center fixed;
    background-size: cover;
    z-index: -100;
}

.registroh1{
    text-align: center;
}

form {
    border: 3px solid #f1f1f1;
    width: 26%;
    text-align: center;
}

input[type=text], input[type=password] {
    width: 75%;
    border-radius: 10px;
    height: 35px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
}

#id_email{
    width: 100%;
    text-align: center;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

.contenedor{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

p{
    color:white ;
    font-size: 1.1rem;
    font-weight: bold;
}

label{
    display: block;
}