{% extends 'plantilla.html' %}
{% load static %}

{% block extrahead %} 
<title>Itemshop</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="{% static '/css/productos.css' %}">
{% endblock extrahead %}

{% block content %}
<div class="espacio"></div>
<p class="parrafito"></p>
  <div class="container text-center">
    <div class="row">
        <div class="col">
            <form method="GET" action="{% url 'productosIndex' %}">
                <div class="form-group">
                    <label for="especializacion"></label>
                    <div class="espacio30"></div>
                    <select class="form-control" id="especializacion" name="especializacion">
                        <option value="">FILTRAR ARMAS POR ESPECIALIZACION, ELIJA SU ESPECIALIZACION </option>
                        {% for especializacion in especializaciones %}
                            <option value="{{ especializacion.id }}">{{ especializacion.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="espacio30"></div>
                <button type="submit" class="btn btn-primary">Buscar armas para esta especializacion</button>
                <div class="espacio30"></div>
            </form>
        </div>
    </div>
    
    <!-- Resto del código -->
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Nivel</th>
          <th>Clases</th>
          <th>DPS</th>
          <th>Velocidad</th>
          <th>Precio</th>
          <th>Comprar</th>
        </tr>
      </thead>
      <tbody>
        {% for producto in page_obj %}
          <tr>
            <td class="hover-producto" type="click">
              <div class="recuadro-info">
                {{ producto.nombre }}
              <div class="ilv">
                Nivel de objeto {{ producto.ilevel }}
              </div>
              <div class="unamano tblanco" >
                Velocidad de ataque {{ producto.vataque }}
              </div>
                <div class="valores tblanco">
                  {{ producto.dañofisico }} p. de daño.
                </div>
                <div class="dps tblanco">
                  ({{ producto.dps }}p. de daño por segundo.)
                </div>
                <div class="stat1 tblanco">
                  {{ producto.stadistica1 }}
                </div>
                <div class="stat2 tblanco">
                  {{ producto.stadistica2 }}
                </div>
                <div class="durabilidad tblanco">
                  Durabilidad 130/130
                </div>
                <div class="uso">
                  {{ producto.descripcion }} 
                </div>
                <div class="nivel tblanco">
                  Requiere nivel {{ producto.nivel }}
                </div>
              </div>
              <img class="img-arma" src="{{ producto.imagen.url }}" alt="Sin Imagen" class="icono-producto">
              <div class="nombre">{{ producto.nombre|upper }}</div>
            </td>
            <td>{{ producto.nivel }}</td>
            <td>{{ producto.caracteristicas }}</td>
            <td>{{ producto.dps }}</td>
            <td>{{ producto.vataque }}</td>
            <td>{{ producto.precio }} Gs</td>
            <td><a type="button-sm" class="btn btn-sm btn-danger" href="{% url 'compraProductos' producto.id %}">Comprar</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>   
    
  </div>
  <div class="espacio"></div>
  <div class="espacio"></div>
{% endblock content%}

{% block extrajs %} 
<script src="{% static '/Js/compra.js' %}"></script>
{% endblock extrajs%}